main{
    width: 1200px;
    margin: auto;
    background-color: green;
    
}
header{
    background-color: yellow;

}
article{
    background-color: thistle;
    width: 70%;
}
footer{
    background-color: blue;
}
nav{
    width: 30%;
    float: left;
}
h1{
    margin:0px;
    padding: 10px
}
p{
    padding: 5px;
}

li{
    list-style: none;
}